.vslider {
  position: relative;
  overflow: hidden;
}

.vslider > * {
  display: none;
  position: absolute;
}

.vslider > *:first-child {
  display: block;
  position: relative;
}

.vslider-loaded > .vslider-item {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  -ms-touch-action: none;
  touch-action: none;
  transition: z-index 0s,
  opacity .8s ease-in-out,
  transform .4s ease-in-out;
  z-index: 20;
  opacity: 0;
  transform: translateX(-10%);
}

.vslider-loaded > .vslider-active {
  z-index: 30;
  opacity: 1.0;
  transform: translateX(0);
}

.vslider-loaded > .vslider-before {
  z-index: 10;
  opacity: 0;
  transform: translateX(10%);
}

.vslider-loaded > .vslider-direct {
  transition: none;
}

.vslider-loaded > .vslider-status {
  display: block;
  list-style: none;
  z-index: 50;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

.vslider-status > li {
  cursor: pointer;
  display: inline-block;
  font-size: 0.5em;
  width: 1em;
  height: 1em;
  color: #000;
  background: #000;
  border: 0.1em solid #fff;
  border-radius: 100%;
  margin: 0 0.5em;
  transition: 0.4s;
  opacity: 0.25;
}

.vslider-status > .vslider-status-active {
  opacity: 0.5;
}

/* .vslider-prev,
  .vslider-next {
    display: block;
    font-size: 5em;
    line-height: 1;
    cursor: pointer;
    z-index: 200;
    position: absolute;
    top: 50%;
    left: -1em;
    margin-top: -0.5em;
    }
  .vslider-next {
    left: auto;
    right: 0;
    }
  .vslider-prev:after {
    content: '<';
    }
  .vslider-next:after {
    content: '>';
    } */